spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.show-sql=
spring.jpa.hibernate.ddl-auto= #validate -> default, #update
# cheia secreta JWT
application.security.jwt.secret-key=
# URL-ul microserviciului de AI (Python)
ai.service.recommendation-url=

#compresie json
server.compression.enabled=true
server.compression.mime-types=application/json
server.compression.min-response-size=1024

#api key stripe
stripe.api.key=

#Setarile pentru BREVO
spring.mail.host=smtp-relay.brevo.com
spring.mail.port=587
spring.mail.username=contact@freshli.store
spring.mail.password=

spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

#Adresa oficiala care apare pe mail
app.mail.from=contact@freshli.store